<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.lele.book.shop.dao.OrderDao">
    <resultMap id="Order" type = "org.lele.book.shop.domain.BookOrder">
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="state" property="state" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="pay_type" property="payType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="pay_fee" property="payFee"/>
        <result column="receive_phone" property="receivePhone"/>
        <result column="receive_name" property="receiveName"/>
        <result column="address_head" property="addressHead"/>
        <result column="address_tail" property="addressTail"/>
        <result column="detail" property="detail"/>
        <result column="create_time" property="createTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>

    <resultMap id="OrderHistory" type="org.lele.book.shop.domain.BookOrderHistory">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="state" property="state" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="message" property="message"/>
        <result column="operator" property="operator" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="create_time" property="createTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>

    <sql id="sqlMain">
        select `order_no`, `user_id`, `state`, `pay_type`, `pay_fee`, `detail`, `create_time`

        from `book_order`
    </sql>

    <sql id="sqlHistory">
        select `id`, `order_no`, `user_id`, `state`, `message`, `operator`, `create_time`
        from `book_order_history`
    </sql>

    <insert id="insert" parameterType="org.lele.book.shop.domain.BookOrder">
        INSERT INTO book_order(`order_no`, `user_id`, `state`, `pay_type`, `pay_fee`, `detail`
          ,`address_head`, `address_tail`, `receive_name`, `receive_phone`
        )
        VALUES (#{orderNo}, #{userId},
          #{state, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
          #{payType, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
                    #{addressHead}, #{addressTail}, #{receiveName}, #{receivePhone}
        )
    </insert>

    <insert id="insertHistory" parameterType="org.lele.book.shop.domain.BookOrderHistory" keyProperty="true" useGeneratedKeys="true">
        INSERT INTO book_order_history(`order_no`, `user_id`, `state`, `message`, `operator`)
        VALUES (#{orderNo}, #{userId},
          #{state, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
          #{message},
          #{operator, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        )
    </insert>

    <update id="updateOrder" parameterType="map" >
        UPDATE book_order
        SET `state` = #{state}
        WHERE order_no = #{orderNo}
    </update>

    <select id="selectList" parameterType="map" resultMap="Order">
        <include refid="sqlMain" />
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="bookId !=null">
                and book_id = #{bookId}
            </if>
            <if test="1 == 1" >
                and order_no &lt; #{flag}
            </if>
        </where>
        ORDER BY order_no desc
        limit #{size}
    </select>
    <select id="select" parameterType="map" resultMap="Order">
        <include refid="sqlMain" />
        WHERE order_no = #{orderNo}
    </select>

    <select id="selectHistory" parameterType="map" resultMap="OrderHistory">
        <include refid="sqlHistory"/>
        WHERE order_no = #{orderNo}
    </select>
</mapper>



